/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9ae9d; /* Burnt Orange */
  --foreground: #333333; /* Charcoal Gray */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e3baaf; /* Darker Burnt Orange for dark mode */
    --foreground: #1C1C1C; /* Darker Charcoal Gray */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
